/* --global-- */
:root {
   --valley_red: #E02C35;
   --valley_white: #FDFAF6;
   --valley_black: #222222;
   --valley_grey: #F4F4F5;
   --tekst_kleur: #111111;
}

* {
   box-sizing: border-box;
}
body{
   margin: 1rem; 
   padding: 0;
   font-family: 'Martel', serif;   
   font-size: 16px;
   line-height: 120%;
   background-color: var(--valley_white);
}

p{
   font-family: Martel;
   font-size: 20px;
   font-weight: 400;
   line-height: 32px;
   letter-spacing: -0.035em;
   text-align: left;

}

h1{

}
h2{
}

h3{
   font-family: 'Montserrat';
   font-size: 36px;
   font-weight: 700;
   line-height: 72px;
   letter-spacing: -0.035em;
   text-align: left;
   color: var(--tekst_kleur);
}

h4{
   font-family: 'Martel';
   font-size: 32px;
   font-weight: 700;
   line-height: 38.4px;
   letter-spacing: -0.035em;
   text-align: left;
   color: var(--tekst_kleur);
}

h5{
   font-family: 'Montserrat';
   font-size: 20px;
   font-weight: 700;
   line-height: 44px;
   letter-spacing: -0.035em;
   text-align: left;
}

h6{
font-family: 'Montserrat';
font-size: 16px;
font-weight: 700;
line-height: 38px;
letter-spacing: -0.035em;
text-align: left;
color: var(--tekst_kleur);
}


/* MAIN */
li{
   list-style: none;
}

.subkop{
   font-family: Martel;
   font-size: 12px;
   font-weight: 400;
   line-height: 18px;
   letter-spacing: -0.035em;
   background-color: var(--valley_grey);
   border: none;
   padding: 8px 10px;
   margin: 5px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   color: var(--tekst_kleur);
}

/* SECTIONS */
nav{

}
footer{

}
