/* --global-- */
:root {
   --valley_red: #E02C35;
   --valley_white: #FDFAF6;
   --valley_black: #222222;
   --valley_grey: #F4F4F5;
   --tekst_kleur: #111111;
}

* {
   box-sizing: border-box;
}

button{
   width: 169px;
   height: 50px;

   background: var(--valley_red);
   border-radius: 42px;

   font-family: Montserrat;
   font-size: 16px;
   font-weight: 700;
   line-height: 24px;
   letter-spacing: -0.035em;
   text-align: center;
   color: var(--valley_white);
   cursor: pointer;

   border-style: none;
}

body{
   margin: 1rem; 
   padding: 0;
   font-family: 'Martel', serif;   
   font-size: 16px;
   line-height: 120%;
   background-color: var(--valley_white);
}

p{
   font-family: Martel;
   font-size: 20px;
   font-weight: 400;
   line-height: 32px;
   letter-spacing: -0.035em;
   text-align: left;

}

h1{

}
h2{
}

h3{
   font-family: 'Montserrat';
   font-size: 36px;
   font-weight: 700;
   line-height: 72px;
   letter-spacing: -0.035em;
   text-align: left;
   color: var(--tekst_kleur);
}

h4{
   font-family: 'Martel';
   font-size: 32px;
   font-weight: 700;
   line-height: 38.4px;
   letter-spacing: -0.035em;
   text-align: left;
   color: var(--tekst_kleur);
}

h5{
   font-family: 'Montserrat';
   font-size: 20px;
   font-weight: 700;
   line-height: 44px;
   letter-spacing: -0.035em;
   text-align: left;
}

h6{
   font-family: 'Montserrat';
   font-size: 16px;
   font-weight: 700;
   line-height: 38px;
   letter-spacing: -0.035em;
   text-align: left;
   color: var(--tekst_kleur);
}

.h3heading{
   font-family: 'Montserrat';
   font-size: 36px;
   font-weight: 700;
   line-height: 0px;
   letter-spacing: -0.035em;
   text-align: left;
   color: var(--valley_grey);
}

.h4heading{
   font-family: 'Martel';
   font-size: 32px;
   font-weight:lighter;
   line-height: 42.9px;
   letter-spacing: -0.035em;
   text-align: left;
   color: var(--tekst_kleur);
}

.h6heading{
   font-family: 'Montserrat';
   font-size: 16px;
   font-weight: bold;
   line-height: 38px;
   letter-spacing: -0.035em;
   text-align: center;
   color: var(--valley_red);
}

.onderschrift{
   font-family: Martel;
   font-size: 16px;
   font-weight: 400;
   line-height: 28px;
   letter-spacing: -0.035em;
   text-align: left;
   color: var(--tekst_kleur);
}

.quotenaam{
   font-family: Martel;
   font-size: 16px;
   font-weight: 400;
   line-height: 28px;
   letter-spacing: -0.035em;
   text-align: left;
   color: var(--valley_red);
}

.bodyS{
   font-family: Martel;
   font-size: 16px;
   font-weight: 400;
   line-height: 30px;
   letter-spacing: -0.035em;
   text-align: left;
}

.bodyM{
   font-family: 'Martel';
   font-size: 16px;
   font-weight: 700;
   line-height: 38px;
   letter-spacing: -0.035em;
   text-align: left;
   color: var(--valley_grey);
}

.bodyL{
   font-family: Martel;
   font-size: 20px;
   font-weight: 400;
   line-height: 32px;
   letter-spacing: -0.035em;
   text-align: left;
   color: var(--valley_grey);
}

.bodyXL{
   font-family: Martel;
   font-size: 24px;
   font-weight: 400;
   line-height: 36px;
   letter-spacing: -0.035em;
   text-align: left;
   color: var(--valley_black);
}

.naam{
   font-family: 'Montserrat';
   font-size: 16px;
   font-weight: 700;
   line-height: 16px;
   letter-spacing: -0.035em;
   text-align: left;
   color: var(--valley_red);
}

.functie{
   font-family: Montserrat;
   font-size: 16px;
   font-weight: 700;
   line-height: 16px;
   letter-spacing: -0.035em;
   text-align: left;
   color: var(--valley_black);
}

/* MAIN */
li{
   list-style: none;
}

.subkop{
   font-family: Martel;
   font-size: 12px;
   font-weight: 400;
   line-height: 18px;
   letter-spacing: -0.035em;
   background-color: var(--valley_grey);
   border: none;
   padding: 8px 10px;
   margin: 5px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   color: var(--tekst_kleur);
}

.blokje1, .blokje2, .blokje3{
   padding: 20px;
   align-items: center;
   margin-bottom: 10px;
   background-color: var(--valley_black);
   color: var(--valley_grey);
}

.contact{
   background-color: var(--valley_grey);
   padding: 25px;
   margin-left: -20px;
   margin-right: -20px;
}


/* FOOTER */
.footer{
   background-color: var(--valley_black);
   padding: 25px;
   margin-left: -20px;
   margin-right: -20px;
   color:var(--valley_grey);
}

a{

}

hr{
width: 100%; 
height: 1px; 
border: solid --valley_grey 0px;
align-items: center;
margin-top: 20px;
opacity: 10%;
}
